name: Azure Login Workflow

on:
  workflow_dispatch:   # manual trigger
  push:
    branches: [ main ] # or your preferred branch

jobs:
  login-to-azure:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          # client-secret: ${{ secrets.Github_actions_EKS_AKS }}

      - name: Verify Azure Login
        run: |
          az account show
